body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.section {
    margin-bottom: 50px;
}

/* .product {
    display: inline-block;
    width: 250px;
    border: 1px solid black;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 15px;
    text-align: center;
} */

.product:hover {
    outline: 3px solid blue;
    outline-offset: 5px;
}

img {
    width: 160px;
    height: 120px;
}

.product-row{
    display: flex;
}
